
.project-info p {
  font-size: 16px;
}

.header-name{
  margin-top: 120px;
  margin-bottom: 10px;
}

.header-text{
  color: #FFFFFF;
}

.info-name {
  margin-top: 0px;
  margin-bottom: 10px;
}

.icon {
  padding-left: 5px;
  padding-right: 5px;
}

.portfolio-top {
  margin-top: 70px;
}