<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ico/favicon.ico">

    <title>SOLID - Bootstrap 3 Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../..//js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="/javascript/modernizr.js"></script>
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="/index">HOME</a></li>
            <li class="active"><a href="/about">ABOUT</a></li>
            <li><a href="/portfolio">PORTFOLIO</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">FEATURED PROJECTS <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/weather-project">WEATHER</a></li>
                <li><a href="/petra-project">PETRA</a></li>
                <li><a href="/bcl-project">BCL</a></li>
                <li><a href="/single-project">SINGLE PROJECT</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	 
	<!-- *****************************************************************************************************************
	 AGENCY ABOUT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
	 		<div class="col-lg-6">
	 			<img class="img-responsive" src="/img/agency.jpg" alt="">
	 		</div>
	 		
	 		<div class="col-lg-6">
		 		<h4>Braden Staudacher</h4>
		 		<p>A recent graduate of the University of British Columbia in the Cognitive Systems program, I am many things: Web Designer, Artist, Sailor, Board Game Inventor, Skiier, Cocktail Enthusiast, Hiker, Photographer and more...</p>
		 		<p>Find me on the water, the slopes or the beach. </p>
		 		<p>Always open to exploring new artistic avenues, whether in code, film or canvas.</p>
	 		</div>
	 	</div><! --/row -->
	 </div><! --/container -->


	 


	 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
	<script src="/javascript/retina-1.1.0.js"></script>
	<script src="/javascript/jquery.hoverdir.js"></script>
	<script src="/javascript/jquery.hoverex.min.js"></script>
	<script src="/javascript/jquery.prettyPhoto.js"></script>
  	<script src="/javascript/jquery.isotope.min.js"></script>
  	<script src="/javascript/custom.js"></script>


  </body>
</html>
