<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ico/favicon.ico">

    <title>SOLID - Bootstrap 3 Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../..//js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="/javascript/modernizr.js"></script>
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="/index">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/portfolio">PORTFOLIO</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">FEATURED PROJECTS <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/weather-project">WEATHER</a></li>
                <li><a href="/petra-project">PETRA</a></li>
                <li><a href="/bcl-project">BCL</a></li>
                <li><a href="/single-project">SINGLE PROJECT</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>



  <!-- *****************************************************************************************************************
   TITLE & CONTENT
   ***************************************************************************************************************** -->


   <div class="container mt">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 centered">
        <div class='tableauPlaceholder' style='width: 982px; height: 745px;'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Le&#47;LeagueofLegends&#47;ADASbyRange&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='982' height='745' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='LeagueofLegends&#47;ADASbyRange' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Le&#47;LeagueofLegends&#47;ADASbyRange&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='showVizHome' value='no' /><param name='showTabs' value='y' /><param name='bootstrapWhenNotified' value='true' /></object></div>
      </div>
      
      <div class="col-lg-5 col-lg-offset-1">
        <div class="spacing"></div>
        <h4>League of Legends</h4>
        <p>This project used two data sets to compare various statistics from the MOBA League of Legends.</p>
        <h4>Findings</h4>
        <p>The first graph shows attack damage against attack speed with the colour denoting whether or not a champion is ranged or melee. The first noticeable trend is that 44 of the 123 champions listed have an attack speed of 0.625. Gnar and Jayce, both of who have ranged forms can be seen as the green circles below the trend line on the map. On the far left we have Annie, with the lowest base attack speed in the game. The only other ranged chamion below the 0.625 mark is Azir, however his passive which converts cooldown reduction into attack speed makes up for it. The other major outlier is the brown circle at the far bottom of the map, Orianna. Her low base attack damage is explained by her passive which adds additional stacking magic damage to each of her auto attacks.</p>
        <p>The second graph further explores ranged and melee characteristics. This time attack speed is plotted against health. As expected, Gnar and Jayce again seem to be outliers however truly belong to both the melee and ranged camps. Of more interest are the lowest down melee champions Diana and Amumu. Diana is far below her expected attack damage, most likely due to her passive which much like Orianna adds magic damage to her auto attacks. Returning to Orianna on this graph we can calculate her expected attack damage based off of her health. The number arrived at is 52.53, 12.16 points higher than observed. Interestingly, if you add her passive to the calculation it almost perfectly balances out. She receives a flat 10 bonus magic damage in addition to .15 of her AP. Assuming 15AP from runes in addition to 15AP from her starting item the total bonus magic damage arrived at is 14.5. This would place her in the same area as other midlaners such as Malzahar, Leblanc and Yasuo.</p>
        <p>The third graph drills further into the attack damage against health graph seen previously. This time the graphs are coloured by usual role with trend lines calculated for each. The interesting find here was that unlike other roles, ADC's do not have a positive relationship between attack damage and health. The trend line observed is almost flat, with the range of attack damage values possible being very narrow. </p>
        <p>The fourth graph explores the concept of role further this time comparing effective magic health and effective physical health. Clicking on the Role tabs allows you to see individual roles. The narrowness of the ADC definition is observed here as well. The minimal outlier is Urgot, who by many is considered to not fit into the ADC category so this is to be expected. The two major outliers observed are Thresh who does not gain passive armor, and Gnar who's ultimate grants him substantial additional armor and magic resist. </p>
        <p> The last graph showcases some data from two of LCS regions, NA and EU. The graph show the differences in banning observed between the regions. Some of the notable data points include Rumble who was banned 39 times in North America, while only being banned 6 times in EU. On the opposite side of the spectrum Cassiopeia garnered 28 bans in EU and only 4 in NA. Other region specific bans include Morgana and Maoakai for NA (both being banned 3 times more often), with Azir for EU being banned 4 times as often as in NA. Looking along the diagonal there are some champions that both regions agree are worth banning including Kassadin, Nidalee and Reksai. </p>
      </div>
      
      <div class="col-lg-4 col-lg-offset-1">
        <div class="spacing"></div>
        <h4>Project Details<a href="https://github.com/bradenstaudacher/loldata"><i class="fa fa-github icon"></i></a></h4>
        <div class="hline"></div>
        <div class="project-info">
        <p><b>Date:</b> April 2nd, 2015</p>
        <p><b>Contributors:</b> Braden Staudacher</p>
        <p><b>Categories:</b> Data Vizualization</p>
        <p><b>Tagged:</b> LoL, MOBA</p>
        <p><b>Github Link:</b><a href="https://github.com/bradenstaudacher/loldata"><i class="fa fa-github icon"></i></a></p>
        <p><b>Champion Data:</b> <a href="http://leagueoflegends.wikia.com/wiki/League_of_Legends_Wiki">LoL Wiki</a></p>
        <p><b>LCS Data:</b> <a href="http://www.reddit.com/r/leagueoflegends/comments/302df5/lcs_picks_bans_after_week_8_eu_na_separated/">LCS Picks/Bans</a></p>
      </div>
      </div>

    </div><! --/row -->
   </div><! --/container -->
   
  <%= erb :related %>
   
     
   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
  <script src="/javascript/retina-1.1.0.js"></script>
  <script src="/javascript/jquery.hoverdir.js"></script>
  <script src="/javascript/jquery.hoverex.min.js"></script>
  <script src="/javascript/jquery.prettyPhoto.js"></script>
    <script src="/javascript/jquery.isotope.min.js"></script>
    <script src="/javascript/custom.js"></script>
    <script type='text/javascript' src='https://public.tableau.com/javascripts/api/viz_v1.js'></script>


    <script>
// Portfolio
(function($) {
  "use strict";
  var $container = $('.portfolio'),
    $items = $container.find('.portfolio-item'),
    portfolioLayout = 'fitRows';
    
    if( $container.hasClass('portfolio-centered') ) {
      portfolioLayout = 'masonry';
    }
        
    $container.isotope({
      filter: '*',
      animationEngine: 'best-available',
      layoutMode: portfolioLayout,
      animationOptions: {
      duration: 750,
      easing: 'linear',
      queue: false
    },
    masonry: {
    }
    }, refreshWaypoints());
    
    function refreshWaypoints() {
      setTimeout(function() {
      }, 1000);   
    }
        
    $('nav.portfolio-filter ul a').on('click', function() {
        var selector = $(this).attr('data-filter');
        $container.isotope({ filter: selector }, refreshWaypoints());
        $('nav.portfolio-filter ul a').removeClass('active');
        $(this).addClass('active');
        return false;
    });
    
    function getColumnNumber() { 
      var winWidth = $(window).width(), 
      columnNumber = 1;
    
      if (winWidth > 1200) {
        columnNumber = 5;
      } else if (winWidth > 950) {
        columnNumber = 4;
      } else if (winWidth > 600) {
        columnNumber = 3;
      } else if (winWidth > 400) {
        columnNumber = 2;
      } else if (winWidth > 250) {
        columnNumber = 1;
      }
        return columnNumber;
      }       
      
      function setColumns() {
        var winWidth = $(window).width(), 
        columnNumber = getColumnNumber(), 
        itemWidth = Math.floor(winWidth / columnNumber);
        
        $container.find('.portfolio-item').each(function() { 
          $(this).css( { 
          width : itemWidth + 'px' 
        });
      });
    }
    
    function setPortfolio() { 
      setColumns();
      $container.isotope('reLayout');
    }
      
    $container.imagesLoaded(function () { 
      setPortfolio();
    });
    
    $(window).on('resize', function () { 
    setPortfolio();          
  });
})(jQuery);
</script>
  </body>
</html>
