<!-- *****************************************************************************************************************
   PORTFOLIO SECTION
   ***************************************************************************************************************** -->
   <div id="portfoliowrap">
        <div class="portfolio-centered">
          <h3>Related Works.</h3>
            <div class="recentitems portfolio">

              <div class="portfolio-item graphic-design">
               <div class="he-wrap tpl6">
                 <img src="/img/portfolio/portfolio_petra.jpg" alt="">
                 <div class="he-view">
                   <div class="bg a0" data-animate="fadeIn">
                    <h3 class="a1" data-animate="fadeInDown">Portfolio Website Design</h3>
                    <a href="https://github.com/bradenstaudacher/petra" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-github"></i></a>
                    <a href="/petra-project" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                  </div><!-- he bg -->
                </div><!-- he view -->    
              </div><!-- he wrap -->
            </div><!-- end col-12 -->
                
            <div class="portfolio-item graphic-design">
              <div class="he-wrap tpl6">
                <img src="/img/portfolio/portfolio_weather.jpg" alt="">
                <div class="he-view">
                  <div class="bg a0" data-animate="fadeIn">
                    <h3 class="a1" data-animate="fadeInDown">Weather Trends</h3>
                    <a href="https://github.com/bradenstaudacher/weathermap" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-github"></i></a>
                    <a href="/weather-project" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                  </div><!-- he bg -->
                </div><!-- he view -->    
              </div><!-- he wrap -->
            </div><!-- end col-12 -->
                            
            <div class="portfolio-item graphic-design">
              <div class="he-wrap tpl6">
               <img src="/img/portfolio/portfolio_hands.jpg" alt="">
               <div class="he-view">
                 <div class="bg a0" data-animate="fadeIn">
                  <h3 class="a1" data-animate="fadeInDown">Communal Playlist</h3>
                  <a href="https://github.com/vaberay/Midterm-Project-Web-March-2015" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-github"></i></a>
                  <a href="/hands-project" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                </div><!-- he bg -->
              </div><!-- he view -->    
            </div><!-- he wrap -->
          </div><!-- end col-12 -->

          <div class="portfolio-item web-design">
            <div class="he-wrap tpl6">
              <img src="/img/portfolio/portfolio_bcl.jpg" alt="">
              <div class="he-view">
                <div class="bg a0" data-animate="fadeIn">
                  <h3 class="a1" data-animate="fadeInDown">Content Scraping</h3>
                  <a href="https://github.com/bradenstaudacher/bclscraper" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-github"></i></a>
                  <a href="/bcl-project" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                </div><!-- he bg -->
              </div><!-- he view -->    
            </div><!-- he wrap -->
          </div><!-- end col-12 -->
                   
          <div class="portfolio-item books">
            <div class="he-wrap tpl6">
             <img src="/img/portfolio/portfolio_lol.jpg" alt="">
             <div class="he-view">
               <div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">Game Analysis</h3>
                <a href="https://github.com/bradenstaudacher/loldata" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-github"></i></a>
                <a href="/lol-project" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
              </div><!-- he bg -->
            </div><!-- he view -->    
          </div><!-- he wrap -->
        </div><!-- end col-12 -->

      </div><!-- portfolio -->
    </div><!-- portfolio container -->
  </div><!--/Portfoliowrap -->